
@{
    ViewBag.Title = "DangNhapND";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="z-index: 10000;" class="conter">
    <h2 class="T">ĐĂNG NHẬP</h2>
    <div class="conter-con">
        <form action="Trangchu.html">

            <input class="T1" type="text-1" placeholder="Email" name="" autofocus="" required="">
            <br>
            <input class="T2" type="password" placeholder="Mật khẩu" name="" required="" ">
            <br>
            <a style="cursor: pointer;"><button class="T3 login">Đăng Nhập</button></a>

            <div class="back">
                <a class="T4" href="../Assests/Trangchu.html">Trở về</a>
            </div>
            <div class="registration">
                <a class="T5" href="../Assests/dangky.html">Đăng ký</a>
            </div>
        </form>
    </div>
</div>
<style>

    /*---------------------------------------------*/
    .conter {
        margin-top: 5.6cm;
        margin-left: 15cm;
    }

    /* .input[type=text-1] {
        line-height: 30px;
        width: 45%;*/
    }

    .dangnhap {
        align-items: center;
    }
    /*.back {
        margin-top: 0px;
        color: #111314b5;
        text-decoration: none;
    }*/
    h2 {
        margin-top: 20px;
        color: rgba(43, 37, 37, 0.788);
    }

    form {
        margin-top: 20px;
    }

    .back {
        margin-top: 0px;
        color: #111314b5;
        text-decoration: none;
    }

    .registration {
        margin-top: 10px;
    }

    input[type=text-1] {
        line-height: 30px;
    }

    input[type=password] {
        line-height: 30px;
        ;
        margin-top: 10px;
    }

    input[type=submit] {
        background-color: #111314b5;
        margin-top: 10px;
        margin-bottom: 10px;
        line-height: 30px;
        width: 30%;
        border-radius: 6px;
        color: #f7e9e9c9;
    }

    input.T1 {
        width: 360px;
        height: 44px;
        padding-left: 15px;
        border: solid 2px rgb(207, 195, 179);
        border-radius: 2px;
    }

    input.T2 {
        width: 360px;
        height: 44px;
        padding-left: 15px;
        border: solid 2px rgb(207, 195, 179);
        border-radius: 2px;
    }

    button.T3 {
        width: 360px;
        height: 44px;
        border-radius: 2px;
        border: none;
        background: #fe4c50;
        color: white;
        margin-top: 15px;
    }
    .T{
        margin-left:60px;
    }
    a.T4 {
        color: black;
        /* font-size: 130%; */
        /* margin-top: 20px; */
        position: relative;
        top: 11px;
    }
    a.T5 {
        color: black;
        /* float: right; */
        margin-left: 299px;
        position: relative;
        top: -24px;
    }
    .product_image img {
        border-radius: 2px;
    }

    .red_button_1 {
        display: -webkit-inline-box;
        display: -moz-inline-box;
        display: -ms-inline-flexbox;
        display: -webkit-inline-flex;
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: auto;
        height: 40px;
        background: #fe4c50;
        border-radius: 3px;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
        position: absolute;
        top: 300px;
    }

        .red_button_1:hover {
            background: #FE7C7F !important;
        }

        .red_button_1 a {
            display: block;
            color: #FFFFFF;
            text-transform: uppercase;
            font-size: 14px;
            font-weight: 500;
            text-align: center;
            line-height: 40px;
            width: 100%;
        }

    .shop_now_button {
        width: 140px;
        margin-top: 32px;
    }

    .add_to_cart_button_1 {
        width: 100%;
        visibility: hidden;
        opacity: 0;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }

        .add_to_cart_button_1 a {
            font-size: 12px;
            font-weight: 600;
        }

    .product-item:hover .add_to_cart_button_1 {
        visibility: visible;
        opacity: 1;
    }

    .account_selection li a {
        font-size: 10px;
    }

    input#searchString {
        /* padding-left: 12px; */
        border: none;
        /* background: wheat; */
    }

    button#searchsubmit {
        height: 24px;
        width: 25px;
        border: none;
        border-radius: 2px;
        color: white;
        background: #fe4c50;
    }
</style>
