
@{
    ViewBag.Title = "DoiTra";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="content">
    <div class="content-section" style="margin-top: 20px;">
        <h2 class="section-heading" style="font-size: 18px; margin-top: 60px;"><span>CHÍNH SÁCH ĐỔI TRẢ SẢN PHẨM</h2><br />
        <p>
            - Áp dụng đổi - trả các sả phẩm nguyên giá và sản phẩm giảm giá dưới 50% trong thời gian 30 ngày kể từ ngày mua hàng. Áp dụng đổi trả đối với sản phẩm lỗi do nhà sản xuất, hoặc sản phẩm khách hàng mua đi tặng được ghi chú trên hóa đơn ngay khi mua hàng.
        </p>
        <p>
            - Sản phẩm đổi trả phải còn nguyên tem, nhãn mác, chưa qua sử dụng, không có mùi hóa chất, mùi cơ thể và có hóa đơn mua hàng kèm theo.
        </p>
        <p>
            - Mỗi sản phẩm chỉ được đổi - trả duy nhất 1 lần.
        </p>
        <p>
            - Sản phẩm đổi phải bằng hoặc cao hơn giá trị sản phẩm tại thời điểm thanh toán trước đó. Trong trường hợp khách hàng chọn sản phẩm đổi có giá trị thấp hơn - số tiền còn lại sẽ không được hoàn trả.
        </p>
        <p>
            - Địa điểm đổi trả sản phẩm tại cửa hàng.
        </p>

        <h2 class="section-heading" style="font-size: 18px; margin-top: 10px;"><span>CÁC TRƯỜNG HỢP TỪ CHỐI BẢO HÀNH, ĐỔI TRẢ</h2>
        <P>
            - Sản phẩm mua quá thời gian 30 ngày và mua trong chương trình khuyến mại.
        </P>
        <p>- Sản phẩm đã bị thay đổi thiết kế so với thiết kế ban đầu.</p>
        <h2 class="section-heading" style="font-size: 18px; margin-top: 10px;"><span>HÀNG TRẢ LẠI</h2><br />
        <p>
            Sản phẩm, đã mua không được hoàn lại bằng tiền mặt.
        </p>
        <p>Trân trọng cảm ơn !</p><br />

    </div>
</div>

<style>
    div#content {
        /* margin-top: 1cm; */
        margin-left: 5.5cm;
        position: relative;
        top: 3cm;
    }

    .benefit {
        position: relative;
        top: 1cm;
    }
</style>
