
@{
    ViewBag.Title = "GioHang";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="body">
    <div class="grid wide container">

        <body>
            <div class="app">

                <section class="body">
                    <div class="grid wide container">
                        <div class="row list__head">
                            <div class="col l-2-4">
                                <div class="list__head-item">
                                    Sản phẩm
                                </div>
                            </div>
                            <div class="col l-2-4">
                                <div class="list__head-item">
                                    Giá
                                </div>
                            </div>
                            <div class="col l-2-4">
                                <div class="list__head-item">
                                    Số lượng
                                </div>
                            </div>
                            <div class="col l-2-4">
                                <div class="list__head-item">
                                    Tổng
                                </div>
                            </div>
                            <div class="col l-2-4">
                                <div class="list__head-item" style="border-right: none;">

                                </div>
                            </div>
                        </div>
                        <div class="card__content">
                        </div>
                    </div>
                    <div class="grid wide">
                        <div class="row buy">
                            <div class="col l-2-4">
                                <div class="list__head-item remove in">
                                    <a href="../Assests/Thanhtoan.html">Thanh Toán</a>
                                </div>

                            </div>
                        </div>
                    </div>
            </div>
</section>


<div class="modal__print">
    <div class="modal__overlay-print"></div>
    <div class="modal__body">
        <!-- form login -->
        <form class="form__print">
            <div class="print__title">
                <h2>
                    <span></span>
                </h2>
            </div>
            <div class="info">
                <div class="info__item">
                    <span class="info__customer">

                    </span>
                </div>
                <div class="info__item">
                    <span class="info__customer">

                    </span>
                </div>
                <div class="info__item">
                    <span class="info__customer">

                    </span>
                </div>
                <div class="info__item">
                    <span class="info__customer">

                    </span>
                </div>
            </div>
            <div class="hang">
                <div class="title__hang">
                    <div class="title__hang-item">
                        Sản phẩm
                    </div>
                    <div class="title__hang-item">
                        Giá
                    </div>
                    <div class="title__hang-item">
                        Số lượng
                    </div>
                    <div class="title__hang-item">
                        Thành tiền
                    </div>
                </div>

                <div class="tong">
                    <div class="tong__title">
                        Tổng tiền
                    </div>
                    <div class="tong__tien">

                    </div>
                </div>
            </div>
            @*<div class="form__end">
                <div class="user">
                    Khách Hàng
                </div>
                <div class="user">
                    Nhân viên bán Hàng
                </div>
            </div>*@
        </form>
    </div>
</div>
        
<script src="../js/Giohang.js"></script>
<script>
    var list = JSON.parse(localStorage.getItem('cart'));

    function LoadData() {
        var str = "";
        var n = 0;
        var t = 0;
        for (x of list) {
            str += `  <div class="row item_card">
                            <div class="col l-2-4">
                                <div class="list__head-item">
                                    <img class="img__card" src="${x.image}" alt="">
                                </div>
                            </div>
                            <div class="col l-2-4">
                                <div class="list__head-item">
                                    ${x.price}
                                </div>
                            </div>
                            <div class="col l-2-4">
                                <div class="list__head-item">
                                    <input value="` + x.quantity + `" type="number" name="points" min="0" max="100" step="1">
                                </div>
                            </div>
                            <div class="col l-2-4">
                                <div class="list__head-item">
                                    ${x.price * x.quantity}
                                </div>
                            </div>
                            <div class="col l-2-4">
                                <div onclick="Xoa(` + x.id + `)" class="list__head-item remove" style="border-right: none;">
                                    Xoá khỏi giỏ
                                </div>
                            </div>
                        </div>
                     `;
        }
        document.querySelector(".card__content").innerHTML = str;
        const btn__sl = document.querySelectorAll('.list__head-item input');
        btn__sl.forEach((btn, index) => {
            btn.onblur = function () {
                list[index].quantity = Number(btn.value);
                LoadData();
                updateCart();
            }
        })
        /* $("#spTong").text(t); */
    }

    function XoaCart() {
        localStorage.setItem('cart', null);
        location.reload();
    }

    function Xoa(id) {
        var index = list.findIndex(x => x.id == id);
        if (index >= 0) {
            list.splice(index, 1);
        }
        LoadData();
    }

    function updateQuantity(id) {
        var quantity = Number($('#q_' + id).val());
        var index = list.findIndex(x => x.id == id);
        if (index >= 0 && list[index].quantity >= 1) {
            list[index].quantity = quantity;
        }
        LoadData();
    }

    function updateCart() {
        localStorage.setItem('cart', JSON.stringify(list));
        console.log('xong');
    }
    LoadData();
</script>
<script src="/Content/js/Giohang.js"></script>
<style>
    /*---------------------------------*/

    .conter {
        width: 100%;
        text-align: center;
    }

    .trangchu {
        margin-top: -5px;
        background: rgb(172, 169, 169);
        width: 100%;
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-gap: 20px;
        list-style: none;
        text-align: center;
        font-size: 20px;
        height: 50px;
    }

    #nav-arrow {
        font-size: 10px;
        color: black;
    }

    .trangchu-con li {
        margin-top: 13px;
    }

        .trangchu-con li a {
            text-decoration: none;
            color: rgb(63, 56, 56);
            font-size: 15PX;
        }

            .trangchu-con li a:hover,
            .trangchu-con li a:active {
                border-bottom: 2px solid rgb(141, 113, 113);
            }
    /* End Banner */
    /*-----chỉnh bảng chi tiết sp---*/

    table {
        width: 85%;
        margin-top: 30px;
        border: 1px solid black;
        border-collapse: collapse;
        margin-left: 7%;
    }

    .table {
        margin-bottom: 20px;
        margin-top: 20px;
    }

    th {
        color: #3a292cc5;
    }

    td,
    th {
        border: 1px solid #0000003b;
        /*chỉnh màu khun

line-height: 40px;
text-align: center;
font-size: 15px;

}*/
        /*.td img {
    width: 110px;
    height: 100px;
    /*margin: 15px 10px;*/
    }
    /*-----chỉnh ảnh trong giỏ ---*/

    .img {
        width: 130px;
        height: 130px;
        margin: 15px 10px;
    }
    /*----chỉnh tiếp tục mua hàng----*/

    .form-cart-continue {
        line-height: 43px;
        padding: 0px 20px;
        color: black;
        background-color: #E85A4F;
        border: solid 1px #7e7d7d;
        display: inline-block;
        font-size: 14px;
        text-transform: uppercase;
        font-weight: 700;
        border-radius: 0px;
        margin-left: 10%;
        opacity: 0.6;
        /*tùy chỉnh độ trong suốt của ảnh
    transition: 0.3s;
}

.form-cart-continue:hover {
    /*opacity: 1;*/
        background-color: red;
        color: white;
    }
    /*.col-lg-5 {
    position: absolute
}*/
    /*--------chỉnh tiến hành thanh toán----- */

    .btn-checkout-cart {
        display: block;
        font-size: 14px;
        line-height: 43px;
        /*color: rgba(236, 230, 230, 0.822);*/
        color: black;
        background-color: #E85A4F;
        /*background-color: #ddd;*/
        text-transform: uppercase;
        border: solid 1px #11111191;
        width: 30%;
        float: right;
        font-weight: 700;
        text-align: center;
        margin-right: 10%;
        opacity: 0.6;
        transition: 0.3s;
    }

        .btn-checkout-cart:hover {
            /*opacity: 1;*/
            background-color: red;
            color: white;
        }
</style>