
@{
    ViewBag.Title = "GioiThieu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="content">
    <div class="content-section" style="margin-top: 20px;">
        <h2 class="section-heading" style="font-size: 18px; margin-top: 60px;"><span>GIỚI THIỆU VỀ SAM BOUTIQUE</h2><br />
        <p>
            SAM BOUTIQUE là thương hiệu thời trang nữ được khách hàng yêu mến và tin dùng.
        </p>
        <p>
            Lần đầu tiên ra mắt thị trường vào năm 2015, SAM BOUTIQUE nhanh chóng chiếm được tình cảm của khách hàng bằng những thiết kế "Thanh lịch - Tôn dáng - Có gu".
        </p>
        <p>
            SAM BOUTIQUE luôn tin rằng, mỗi người phụ nữ đều xứng đáng được nâng niu, trân trọng. Vì vậy chúng tôi không ngừng phát triển, không ngừng sáng tạo để đem đến hàng triệu sản phẩm thời trang chất lượng cao cũng như những trải nghiệm mua sắm tuyệt vời nhất cho hàng trăm khách hàng thân thiết .
        </p>
        <p>
            Giữ vững tinh thần đó, SAM BOUTIQUE đã và đang không ngừng cập nhật, đổi mới bằng những phương thức tiên tiến nhất nhằm hoàn thiện sản phẩm, dịch vụ để chăm sóc khách hàng ngày càng tốt hơn trong tương lai.
        </p><br />
        <br />
    </div>
</div>
<style>
    div#content {
        /* margin-top: 1cm; */
        margin-left: 5.5cm;
        position: relative;
        top: 3cm;
    }

    .benefit {
        position: relative;
        top: 1cm;
    }
</style>