
@{
    ViewBag.Title = "ThanhToan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="conter">
    <div class="trangchu">
        <div class="trangchu-con">
            <li>
                <a href="../Assests/Trangchu.html">
                    <i class="nav-arrow fas fa-home"></i>
                    <span>Trang chủ</span>
                </a>
                <a href="#">/HƯỚNG DẪN THANH TOÁN</a>
               
            </li>
        </div>

    </div>
</section>


<div id="content">
    <div class="content-section" style="margin-top: 20px;">
        <h2 class="section-heading" style="font-size: 25px; margin-top: 80px;"><span>Hướng dẫn thanh toán</h2><br />
        <p>
            "Khách hàng mua sản phẩm tại website có thể lựa chộn q trong 2 hình thức thanh toán sau:"
        </p>
        <p>1. SHIP COD TẠI NHÀ:</p>
        <p>Ship COD tại nhà là hình thức thanh toán khi nhận hàng.</p>
        <p>
            "Với hình thức thanh toán qua ship cod tại nhà, khách hàng vui lòng thanh toán đơn hàng và chi phí ship theo quy định của công ty cho bên giao vận."
        </p>
        <p>2. THANH TOÁN CHUYỂN KHOẢN TRƯỚC: </p>
        <P>
            "Với thanh toán chuyển khoản trước, khách hàng chọn một trong số các tài khoản sau đây:"
        </P>
        <p>Chủ tài khoản: Shop SAM </p>
        <p>TK số 1251 000 2000 500- BIDV chi nhánh Phố Nối</p>
        <p>TK số 116002 808 980 - Vietcombank chi nhánh Mỹ Hào</p>
        <p>
            "Nội dung chuyển khoản: Tên người chuyển khoản + Số điện thoại + mã đơn hàng hoặc mã sản phẩm."
        </p>
        <p>
            "Khi mua sắm trên website, nếu còn bất kì câu hỏi nào về đơn hàng, hướng dẫn thanh toán, giao hàng, xin quý khách vui lòng liên hệ với chúng tôi qua Hotline: 1900 633 694"
        </p>
        <p>Trân trọng cảm ơn !</p>

    </div>
</div>
<style>
    div#content {
        /* margin-top: 1cm; */
        margin-left: 5.5cm;
        position: relative;
        top: 2cm;
    }
    .benefit {
 
        position: relative;
        top: 1cm;
    }

    </style>
