
@{
    ViewBag.Title = "MuaHang";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="conter">
    <div class="trangchu">
        <div class="trangchu-con">
            <li>
                <a href="../Assests/Trangchu.html">
                    <i class="nav-arrow fas fa-home"></i>
                    <span>Trang chủ</span>
                </a>
                <a href="#">/HƯỚNG DẪN MUA HÀNG</a>
            </li>
        </div>

    </div>
</section>


<div id="content">
    <div class="content-section" style="margin-top: 20px;">
        <h2 class="section-heading" style="font-size: 25px; margin-top: 50px;"><span>Chọn lựa hàng hóa</h2><br />
        <p>
            - Qúy khách chọn xem chi tiết các mẫu sản phẩm tại website
        </p>
        <p>
            - Khi đã tìm được sản phẩm quan tâm và phù hợp, quý khách có thể đặt hàng theo các hình thức sau đây:
        </p>
        <p>1. Hình thức Mua hàng trực tuyến: </p>

        <p> - Chọn kích cỡ, màu sắc, số lượng sản phẩm rồi click vào nút "Mua hàng ngay" để đưa sản phẩm vào Giỏ hàng của mình.</p>

        <p>
            - Để lựa chọn thêm sản phẩm khác, vui lòng click vào nút "Tiếp tục mua hàng".
        </p>
        <p>2. Hình thức Mua hàng qua điện thoại:</p>
        <p>
            - Chọn kích cỡ, màu sắc, số lượng sản phẩm rồi gọi hoặc gửi tin nhắn cho chúng tôi vào số hotline: 0366378957 để đặt hàng, nhân viên của chúng tôi sẽ liên hệ lại để xác nhận thông tin sản phẩm của Qúy khách. Và hướng dẫn Qúy khách chuyển khoản thanh toán.
        </p>

        <p>Trân trọng cảm ơn !</p><br />

    </div>
</div>
<style>
    div#content {
        /* margin-top: 1cm; */
        margin-left: 5.5cm;
        position: relative;
        top: 3cm;
    }

    .benefit {
        position: relative;
        top: 1cm;
    }
</style>

