@model SamBotique.Models.LoaiSP

@{
    ViewBag.Title = "Xem Chi Tiết Loại Sản Phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Xem</h2>

<div class="form-horizontal">
    <h4 class="TT">Loại Sản Phẩm </h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @*@Html.DisplayNameFor(model => model.MaLSP)*@
            Mã Loại Sản Phẩm
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaLSP)
        </dd>
        <dt>
            @*@Html.DisplayNameFor(model => model.TenLSP)*@
            Tên Loại Sản Phẩm
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenLSP)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaLSP }) |
    @Html.ActionLink("Quay Lại", "Index")
</p>

<style>
    .content-wrapper h2 {
        position: relative;
        left: 17px;
    }

    .TT {
        width: 157px;
        height: 41px;
        box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
        padding-top: 10px;
        padding-left: 23px;
        border-radius: 3px;
        margin-left: 18px;
    }
</style>